name: Deploy Docs

on:
  push:
    branches: [main]
    paths:
      - "docs/**"

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        with:
          version: 10

      - uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: 20
          cache: pnpm
          cache-dependency-path: docs/pnpm-lock.yaml

      - run: pnpm install --frozen-lockfile
        working-directory: docs

      - run: pnpm build
        working-directory: docs

      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs/out

      - id: deployment
        uses: actions/deploy-pages@v4
